@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: hsl(249, 100%, 4%);

  --color-light-100: hsl(240, 85%, 90%);
  --color-light-200: hsl(225, 41%, 76%);

  --color-gray-100: hsl(208, 8%, 64%);

  --color-dark-100: hsl(245, 46%, 9%);

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("/hero-bg.png");
}
@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background: #030014;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-screen h-screen bg-center bg-cover absolute z-0;
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-0;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center;
    }

    & ul li p {
      @apply fancy-text mt-[22px] text-nowrap;
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
    }
  }

  .search {
    @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

  .all-movies {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10;

    &:hover {
      @apply shadow-lg shadow-light-100/20;
    }
    &:hover img {
      @apply scale-110 transition-transform duration-300 ease-in-out;
    }
    & .movie-img {
      @apply w-full overflow-hidden rounded-lg;
    }
    & img {
      @apply rounded-lg h-auto w-full;
    }
    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
    & .content .type {
      @apply text-gray-100 font-medium text-base;
    }
    & .content .genres {
      @apply text-gray-100 font-medium text-base line-clamp-1;
    }
  }
  .modal-container {
    @apply fixed inset-0 w-screen h-screen flex flex-col items-center justify-center z-[100] p-4 backdrop-blur-sm;
    & .modal-underlay {
      @apply absolute inset-0 bg-dark-100 opacity-80 z-[99] w-full border-none rounded-none shadow-none;
      &:hover {
        @apply transform-none shadow-none;
      }
    }
    & .modal-content {
      @apply relative z-[101] w-full max-w-7xl rounded-lg border border-light-100 bg-dark-100 p-5 text-white overflow-y-auto hide-scrollbar;
      & .modal-content-con {
        @apply flex flex-col gap-3;
      }
      & .modal-header {
        @apply flex items-center justify-between mb-4;
      }
      & .modal-title {
        @apply text-2xl font-bold text-white;
      }
      & .modal-body {
        @apply mt-3;
      }
      & .modal-section h3 {
        @apply text-lg font-semibold text-indigo-200 mb-2;
      }
      & .modal-section {
        @apply grid grid-cols-3 gap-y-3;
      }
      & .modal-label {
        @apply text-indigo-200 col-span-1;
      }
      & .modal-value {
        @apply col-span-2 text-indigo-300/80;
        & .overview {
          @apply text-gray-200 break-words;
        }
      }
      & .modal-value.item-list {
        @apply flex flex-wrap items-center;
      }
    }
    & .modal-content .modal-close-btn {
      @apply flex items-center justify-center w-[30px] h-[30px] rounded-full z-50 sticky top-0 right-0 md:right-4 lg:right-2 ml-auto text-gray-200 text-2xl cursor-pointer bg-indigo-500 hover:bg-indigo-600 transition-colors duration-300 ease-in-out;
    }
    & .inline-btn {
      @apply text-sm font-medium inline-flex items-center gap-2 p-2 rounded;
      &.imdb-btn {
        @apply bg-amber-100 hover:underline text-dark-100 hover:bg-amber-200 transition-colors duration-300 ease-in-out;
      }
      &.web-btn {
        @apply bg-indigo-400 hover:underline text-gray-50 hover:text-gray-200 hover:bg-indigo-500 transition-colors duration-300 ease-in-out;
      }
    }
    & .modal-content .poster-trailer {
      @apply flex flex-col xs:items-center xs:flex-row gap-4 w-full my-4;
      & .poster {
        @apply md:w-1/3 w-full h-full;
        & img {
          @apply w-full h-auto object-cover rounded-lg;
        }
      }
      & .trailer {
        @apply md:w-2/3  w-full aspect-video;
        & iframe {
          @apply w-full h-full rounded-lg;
        }
      }
    }
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
